.TasksListContainer {
  margin-top: 4rem;
}

.TasksCreatedContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.TasksCreatedInfo {
  font-size: 14px;
  color: var(--blue);
}

.CompletedTasks {
  font-size: 14px;
  color: var(--purple);
}

.ContainerList {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}